{{- if not (.Param "hideFooter") }}
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <div class="footer__brand">
                <a href="/" class="footer__logo-link">
                    <img src="/images/logo-premium.png" alt="Colorful Cardboard" class="footer__logo-img" width="40" height="40">
                    <span class="footer__site-name">Colorful Cardboard</span>
                </a>
                <p class="footer__tagline">Smart Pokemon card investing, backed by data.</p>
            </div>
            
            <div class="footer__nav">
                <div class="footer__col">
                    <h4>Content</h4>
                    <ul>
                        <li><a href="/start-here/">Start Here</a></li>
                        <li><a href="/categories/market-analysis/">Market Analysis</a></li>
                        <li><a href="/categories/card-picks/">Card Picks</a></li>
                        <li><a href="/categories/set-reviews/">Set Reviews</a></li>
                        <li><a href="/posts/">All Posts</a></li>
                    </ul>
                </div>
                
                <div class="footer__col">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/start-here/">New? Start Here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="footer__bottom">
            <p class="footer__disclaimer">
                Colorful Cardboard is an independent fan site. Not affiliated with, endorsed by, or sponsored by The Pokemon Company, Nintendo, or Creatures Inc. Pokemon and all related marks are trademarks of The Pokemon Company.
            </p>
            <span class="footer__copyright">&copy; {{ now.Year }} {{ .Site.Title }}</span>
        </div>
    </div>
</footer>
{{- end }}

{{- if (not .Site.Params.disableScrollToTop) }}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>
{{- end }}

{{- partial "extend_footer.html" . }}
